body{
font-family:Arial;
padding:15px;
background:#f4f4f4;
}

input,textarea,select{
width:100%;
padding:12px;
margin-top:8px;
margin-bottom:12px;
font-size:16px;
}

button{
width:100%;
padding:14px;
font-size:18px;
background:#2c7be5;
color:white;
border:none;
border-radius:6px;
}

a{
display:block;
margin-top:10px;
}